<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
      <h2>Create</h2>
      <form class="create-blog" action="/blogs" method="POST">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" required />
        <label for="snippet">Blog Snippet</label>
        <input type="text" name="snippet" id="snipped" required />
        <label for="body">Blog Body</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
